[alias]
	ctx = blame
	dft = difftool
[advice]
	statusHints = false
[branch]
	autoSetupRebase = always
[checkout]
	defaultRemote = origin
	workers = -1
	thresholdForParallelism = 50
[core]
	hideDotFiles = true
	untrackedCache = true
[commit]
	status = false
	verbose = true
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	navigate = true
	line-numbers = true
	side-by-side = true
	colorMoved = default
[diff]
	renames= copies
	algorithm = histogram
	external = difft
	tool = difftastic
[fetch]
	recurseSubmodules = true
	parallel = 0
	prune = true
	output = compact
[feature]
	experimental = true
	manyFiles = true
[index]
	version = 4
	recordEndOfIndexEntries = true
	recordOffsetTable = true
	threads = true
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[merge]
	conflictStyle = diff3
[push]
	default = current
[rebase]
	autoSquash = true
	autoStash = true
	abbreviateCommands = true
[rerere]
	enabled = true
	autoUpdate = true
[status]
	short = true
	branch = true
	renames = copies
	submoduleSummary = true
[submodule]
	recurse = true
	fetchJobs = 0
[user]
	email = self@mgattozzi.dev
	name = Michael Gattozzi
[pager]
	difftool = true
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
