[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "rust-analyzer"]
	path = rust-analyzer
	url = git@github.com:rust-analyzer/rust-analyzer.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
